<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Editor</title>

  <link href="styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class='container-fluid'>
  <section>
    <textarea id="pad" rows='40' class="full-height" placeholder="Write here!"></textarea>
    <div id='markdown' class="full-height" data-placeholder="And it will appear here!"></div>
  </section>

  <script src='script.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.4/showdown.js'></script>
</body>
</html>
